:root{
    --color-primary: #9DA73D;
    --color-secun: #919191;
    --color-title: #3E3D4C;
    --color-text:#5B5B5B;
    --bg-fondo:#ffffff;
}
body{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 20px;
    line-height: 28px;
    background-color: var(--bg-fondo);
    color: var(--color-text);
}
h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--color-title);
    text-align: center;
}
.btn-recursos{
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 7px;
    color: var(--color-primary);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.btn-cta{
    background-color: var(--color-primary);
    border-radius: 13px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    padding: 10px 30px;
    text-decoration: none;
}
.btn-cta-popup{
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.btn-play{
    color: var(--color-secun);
    font-size: 18px;
    text-decoration: none;
}
.cta{
    background-color: #F6F6F6;
    padding: 40px 0;
    margin: 40px 0;
}
.tex-convo{
    font-size: 50px;
    color: var(--color-primary);
    font-weight: 700;
}
.tex-date{
    font-size: 35px;
    font-weight: 300;

}