:root{
    --color-primary: #9da73d;
    --color-secun: #919191;
    --color-title: #3E3D4C;
    --color-text:#5B5B5B;
    --color-text-secu:#ffffff;
    --bg-fondo:#ffffff;
    --colorg83:#67A92F;
    --colorg84:#0092CC;
    --colorg85:#B7B632;

}
body{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 20px;
    line-height: 28px;
    background-color: var(--bg-fondo);
    color: var(--color-text);
}
h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--color-title);
    text-align: center;
}
h3{
    font-size: 25px;
    font-weight: 300;
}
h4{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
b{
    font-weight: 700;
}
.btn-recursos{
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 7px;
    color: var(--color-primary);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: all .4s ease-out;
}
.btn-recursos:hover{
    transition: all .4s ease-out;
    background-color: var(--color-primary);
    color: var(--color-text-secu);
    font-size: 17px;
}

.btn-cta-popup{
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: all .5s ease-out;
}
.btn-cta-popup svg{
    transition: all .5s ease-out;
}
.btn-cta-popup:hover{
    font-size: 20px;
    transition: all .5s ease-out;
}
.btn-cta-popup:hover svg{
    transform: rotateY(360deg);
    scale: 1.4;
}
.btn-play{
    color: var(--color-secun);
    font-size: 18px;
    text-decoration: none;
    transition: all .4s ease-out;
}
.btn-play .icono{
    transition: all .4s ease-out;
}
.btn-play:hover{
 transition: all .4s ease-out;
}
.btn-play:hover .icono{
    transform: rotate(360deg);
}
.btn-detalle{
    color: var(--color-primary)!important;
    font-size: 18px;
    font-weight: 500;
}
.btn-detalle svg{
    transition: all .4s ease-out;
    fill: var(--color-primary);
}
.btn-detalle:hover svg{
    scale: 1.2;
    fill: var(--color-title);
    color: var(--color-title);
}
.btn-detalle:hover{
    color: var(--color-title)!important;
}
.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 8px;
    font-size: 18px;
}
.btn-labeled:hover {
    border: 2px solid var(--color-secun);
    color: var(--color-secun);
    transition: all .4s ease-out;
}
.btn-label {
    position: relative;
    background-color: var(--color-primary);
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 5px 0 0 5px;
    left: -12px;
}

.btn-labeled .icono {
    transition: all .4s ease-out;
}
.btn-labeled:hover .icono {
    transform: rotateY(360deg);
}
.btn-labeled:hover .btn-label {
    background-color: var(--color-secun);
    transition: all .4s ease-out;
}
.text-bottom {
    display: inline-block;
    margin: 0 20px;
    width: 220px;
}
.btn-difunde{
    border: 1px solid var(--color-primary);
    border-radius: 7px;
    color: var(--color-text);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    width: 100%;
    padding: 10px 0;
}
.btn-difunde:hover{
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    transition: all .4s ease-out;
    color: var(--color-text-secu);
}
.btn-difundet{
    border: 2px solid var(--color-primary)!important;
}
.btn-difundet:hover{
    border: 2px solid var(--color-primary)!important;
}
.cta{
    padding: 40px 0;
    margin: 40px 0;
    background: linear-gradient(-45deg, #f5f5f5,#dddddd, #dee2d3);
	background-size: 400% 400%;
	animation: gradientBG 8s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.tex-convo{
    font-size: 50px;
    color: var(--color-primary);
    font-weight: 700;
    line-height: 50px;
}
.tex-date{
    font-size: 35px;
    font-weight: 300;
    line-height: 36px;
}

.line{
    color: var(--color-primary);
    opacity: 1;
}

.rec{
    border: 1px solid var(--color-primary);
    border-radius: 7px;
    padding: 15px 10px;
}

.txt-copis{
    font-size: 18px;
    font-weight: 500;
}
.link{
    color: #327FA6;
}
.link:hover{
    color: var(--color-secun);
}

/* From Uiverse.io by mrhyddenn */ 
.btn-r {
    margin: 5em 0;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid var(--color-primary);
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  background: var(--color-primary);
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-r:hover {
  background:var(--color-primary);
  box-shadow: 0 0 30px 5px rgba(157, 167, 61, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn-r:hover::before {
  -webkit-animation: sh02 0.3s 0s linear;
  -moz-animation: sh02 0.3s 0s linear;
  animation: sh02 0.3s 0s linear;
}

.btn-r::before {
  content: '';
  display: block;
  width: 0px;
  height: 30%;
  position: absolute;
  top: 35%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 20px 20px rgb(255, 255, 255, 0.3);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.btn-r:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


.modal-header{
    border-bottom: none;
    padding: .3em;
}
.modal-content{
    color: var(--color-text);
    font-size: 18px;
    font-weight: 400;
}
.title-modal{
    font-size: 30px;
    font-weight: 300;
    margin: 0 10px;
}
.title-modal span{
    font-size: 100px;
    font-weight: 700;
    line-height: 90px;
    border-left: 4px solid var(--color-primary);
    padding: 0 10px;
    margin-left: 10px;
}
.colorg83{
    color: var(--colorg83);
    border-color: var(--colorg83)!important;
}
.colorg83::before{
    border-color: var(--colorg83)!important;
}
.colorg84{
    color: var(--colorg84);
    border-color: var(--colorg84)!important;
}
.colorg84::before{
    border-color: var(--colorg84)!important;
}
.colorg85{
    color: var(--colorg85);
    border-color: var(--colorg85)!important;
}
.colorg85::before{
    border-color: var(--colorg85)!important;
}


/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 0px auto;
  padding: 10px 20px;
}

/* card-time container */
.card-time {
  position: relative;
  min-width: 375px;
}

/* setting padding based on even or odd */
.card-time:nth-child(odd) {
  padding: 10px 0 10px 30px;
}
.card-time:nth-child(even) {
  padding: 10px 30px 10px 0;
}
/* Global ::before */
.card-time::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid orangered;
}

/* Setting the border of top, bottom, left */
.card-time:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .card-time:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Setting the border of top, bottom, right */
.card-time:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card-time */
.card-time:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card-time  and it's odd */
.card-time:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card-time  and it's even */
.card-time:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card-time */
.title {  
  position: relative;
  font-size: 18px;
  text-decoration: underline;
  font-weight: 700;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 999px;
  border: 3px solid orangered;
}
.title-on::before{
    content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--color-primary);
  border-radius: 999px;
}

/* text right if the card-time is even  */
.card-time:nth-child(even) > .info > .title {
  text-align: right;
}

.card-time:nth-child(even) > .info > p {
  text-align: right;
}

/* setting dot to the left if the card-time is odd */
.card-time:nth-child(odd) > .info > .title::before {
  left: -53px;
}

/* setting dot to the right if the card-time is odd */
.card-time:nth-child(even) > .info > .title::before {
  right: -53px;
}

/* end */

.modal-header .btn-close {
    margin: 0;
}

.modal-title{
    font-size: 36px;
    font-weight: 700;
    color: var(--color-title);
    text-align: center;
    margin: 0 auto;
}


iframe.pdf{
    width: 1200px;
    height: 600px;
}
iframe.short {
    width: 370px;
    height: 600px;
}

@media (max-width: 1199.98px) { 
    iframe.pdf {
        width: 700px;
        height: 430px;
    }
 }

@media (max-width: 575.98px) {
    iframe.pdf {
        width: 320px;
        height: 430px;
    }
    iframe.short {
        width: 250px;
        height: 390px;
    }
}
.driver-popover-title{
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}
.driver-popover-footer button{
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
}
.driver-popover-description{
    font-family: "Noto Sans", sans-serif;
}